services:
  web:
    build:
      context: .
      dockerfile: docker/apache/Dockerfile
    container_name: php_apache
    ports:
      - "8080:80"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ./:/var/www/html

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: goal
    volumes:
      - ./sql/database.sql:/docker-entrypoint-initdb.d/database.sql
